.hidden{
    display: none;
}
#imageInput{
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
}
#tags_tagsinput{
    width: auto !important;
    cursor: pointer;
    border: none;
}
#tags_addTag{
    width: initial !important;
}
#tags_tag{
    font-family: 'Lobster','Times New Roman', Times, serif, monospace !important;
    color: gray !important;
    height: auto !important;
    width: auto !important;
    font-size: 0.8em;
}
span.tag{
    border-radius: 20% !important;
}
body, div, nav, li, button, span, h1, h2, h3{
    font-family: 'Lobster','Times New Roman', Times, serif, monospace !important;
    transition-duration: 0.5s !important;
}
#navList{
    overflow: auto;
}
.w3-modal{
    padding-top: 40px !important;
}
a:hover{
    border-bottom: 3px solid rebeccapurple !important;
}
ul.w3-navbar{
    float: right;
    margin-right: 50px !important;
}

@media only screen and (max-width: 601px){
    #signUpBtn, #logOut, #completeBtn{
        margin-left: 0 !important;
        margin-top: 20px;
    }
    ul.w3-navbar{
        float: none !important;
        margin-right: 0 !important;
    }
}