@media only screen and (max-width: 480px) {
	.col {  
        margin: 1% 0 1% 0%; 
    }
	.span, .inputHeads{ 
        width: 100%; 
    }
    #feedHolder{
        margin: 0;
        width: 100%;
    }
    .left, .right{
        float: none;
        margin: 0;
        width: 100%;
    }
    .ul{
        float: none;
    }
    .options{
        margin-bottom: 1.2em;
    }
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    cursor: default;
    font-family: 'Lobster', cursive;
    overflow: auto;
    transition-duration: 1s;
    text-align: center;
}
div{
    left: 0;
    width: 100%;
    overflow: auto;
    text-align: center;
}
nav{
    background: lightseagreen;
    color: white;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
}
.h2{
    font-size: 1.4em;
}
.ul{
    list-style-type: none;
    float: right;
}
.options{
    float: left;
    text-align: center;
    padding: 10px 20px;
    margin: auto;
    transition-duration: 1s;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 10px;
}
.options:hover{
    background: white;
    color: dodgerblue;
}
#container{
    background-image: url('Images/Image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.coolInput{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 5px 0;
    margin: 5px 0;
    width: 250px;
    transition: border .5s;
    font-family: 'Lobster', cursive;
}
.coolInput:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}
input::-webkit-input-placeholder{
    color: black !important;
}
input:-moz-placeholder{
    color: black !important;
}
input::-moz-placeholder{
    color: black !important;
}
input:-ms-input-placeholder{
    color: #ffcc66 !important;
}
.btn {
    border: 2px solid transparent;
    font-family: 'Lobster', cursive;
    background: gold;
    color: #111;
    font-size: 1.5em;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 7px;
    box-shadow: none;
    transition: 1s;
    display: block;
    width: 300px;
    margin: 10px auto;
}
.btn:hover {
    background-color: #111;
    color: gold;
    cursor: pointer;
}

/* index.html css starts here */
.left, .right{
    width: 45%;
    font-family: 'Lobster', cursive;
}
.left{
    float: left;
}
.right{
    float: right;
    margin-right: 2em;
}


#aboutUs{
    margin-top: 100px;
    margin-bottom: 50px;
}
#aboutUs > h3{
    width: 40%;
    float: left;
    margin-left: 27%;
    padding-top: 100px;
    font-size: 2em;
    color: chartreuse;
}


#feedId{
    background: cornflowerblue;
    font-size: 1.2em;
    text-align: left;
    padding-left: 5%;
    width: auto;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    font-family: 'Lobster', cursive;
    color: gold; 
}


#popularFeeds{
    padding: 20px 0;
    background: darkorchid;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.5%;
}
.col:first-child { 
    margin-left: 0; 
}
.group:before, .group:after { 
    content: ""; 
    display: table; 
}
.group:after { 
    clear: both;
}
.group { 
    zoom: 1; 
}
.span{
    width: 32.33%; /*49.25 for 2, 18.8 for 5*/
    background-color: lightpink;
    border-radius: 10px;
}
#feedHolder{
    width: 90%;
    margin-left: 5%;
}

.endFooter{
    font-size: 2em;
    color: dodgerblue;
    padding: 0 10px;
}
.link{
    font-size: 1.2em;
    color: coral;
    padding: 5px 0;
}


.footer{
    background: black;
    color: white;
    font-family: 'Lobster', cursive;
    padding: 10px 0;
}
#footer{
    background: gray;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: lightgreen;
    margin: 5% auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Editor.html css starts here */
#mainEditor{
    padding-top: 100px;
    font-size: 1.2em;
    color: lightcoral;
}
#editorHolder{
    width: 70%;
    margin-left: 15%;
}
#previewBody{
    all: unset !important;
    text-align: left !important;
}


/* DashBoard.html style starts here */
#userPic{
    padding-top: 100px;
    height: auto;
}
.profilePic{
    border-radius: 10%;
}
.userDetails{
    font-size: 1.5em;
    margin: 15px 0;
}
#userBuckets{
    background: white;
}
#heading{
    font-size: 2.5em;
    color: coral;
    padding: 1em 0;
}
#buckets{
    width: 90%;
    margin-left: 5%;
}
#userBuckets{
    background: url('Images/Image.jpg');
}
.wishInput{
    background-color: rgba(0,0,0,0.1) !important;
    width: 90% !important;
    font-size: 0.7em;
}
.inputHeads{
    font-size: 1.5em;
    background: transparent !important;
    width: 49.25% !important;
    text-align: left;
}