<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/CSS/Style_1.css" />
        <link rel="stylesheet" href="../static/CSS/W3.css" />
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
        <link rel="shortcut icon" type="image/x-icon" href="../static/Images/bucket-list.png" />
        <title>404: Not Found</title>
    </head>
    <body>
        <div class="w3-container w3-xxlarge w3-center w3-padding-48 w3-yellow w3-text-red">
            404: Page Not Found
            <br>
            Whoops the page you're looking for does not exist.
            <br>
            <span class="w3-text-shadow w3-text-deep-purple w3-topnav w3-margin-top w3-navitem">
                <a href="{{url_for('index')}}">Why not go back home?</a>
            </span> 
        </div>
    </body>
</html>