<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/Style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"/>
        <link rel="shortcut icon" type="image/x-icon" href="../static/Images/bucket-list.png"/>
        <script src="../static/JS/jquery-2.2.3.js"></script>
        <script src="../static/JS/jquery.matchHeight.js"></script>
        <title> My Bucket List </title>
    </head>
    <body>
        <nav>
            <div id="navList">
                <div class="left">
                    <h2 class="h2">
                        Welcome {{session['username']}}
                    </h2>
                </div>
                <div class="right">
                    <ul class="ul">
                        <li class="options" id="createBtn"> Create New Bucket List</li>
                        <li class="options" id="logOut" onclick="invisibleClick()"> Log Out
                            <form action="{{url_for('logout')}}" method="POST">
                                <button style="display: none" id="emptyButton"> </button>
                            </form> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="createModal" class="modal">
            <form class="modal-content" method="POST" action="{{url_for('submit_wish')}}">
                <span class="close" id="createClose">x</span>
                <br> <br>
                <div class="section group">
                    <div class="col span matchheight inputHeads">
                        Pour your wish into the box:
                    </div>
                    <div class="col span matchheight inputHeads" style="text-align: center">
                        <input type="text" required class="wishInput coolInput" placeholder="Awaiting a wish or dream..." name="wishName">
                    </div>
                </div>
                <div class="section group">
                    <div class="col span matchheight inputHeads">
                        Select an image to represent your wish:
                    </div>
                    <div class="col span matchheight inputHeads" style="text-align: center">
                        <input type="url" required class="wishInput coolInput" placeholder="Awaiting an image to represent it..." name="wishPic">
                    </div>
                </div>
                <div class="section group">
                    <div class="col span matchheight inputHeads">
                        Put tags to tag your wishes:
                    </div>
                    <div class="col span matchheight inputHeads" style="text-align: center">
                        <input type="text" required class="wishInput coolInput" placeholder="Awaiting a tag (seperate tags by ';')..." name="tags">
                    </div>
                </div>
                <div class="section group">
                    <div class="col span matchheight inputHeads">
                        Put a date you would like to complete it by:
                    </div>
                    <div class="col span matchheight inputHeads" style="text-align: center">
                        <input type="date" required class="wishInput coolInput" placeholder="yyyy-mm-dd format" name="date">
                    </div>
                </div>
                <button type="submit" class="btn"> Create n Add to List </button>
            </form>
        </div>
        <div id="container">
            <div id="userPic">
                <img src="http://localhost:5000/images/{{session['picture']}}" width="250px" class="profilePic"/>
                <br>
                <div class="userDetails"> {{session['username']}} </div>
                <div class="userDetails"> {{session['quote']}} </div>
            </div>
            <div id="userBuckets">
                <div id="heading">
                    Here are your wishes put into buckets:
                </div>
                <div id="itemCount" style="display: none">{{session['count']}}</div>
                <div id="emptyMessage" style="display: none">
                    <img src="../static/Images/EmptyToDo.jpg"/>
                    <br> <br>
                    There's nothing to show right now.
                    <span id="openModal" onclick="openCreate()">
                        Why not create a new Bucket List?
                    </span>
                </div>
                <div id="buckets">
                    {% set counter = 0 %}
                    {% for i in range(0, (session['count']|int / 3)|int + 1) %}
                        <div class="section group">
                            {% for j in range(counter, session['count']|int if counter + 3 > 1 else counter + 3) %}
                                <div class="col span matchheight">
                                    <img src="{{ result[j]['picture'] }}" width="100%"/>
                                    {{ result[j]['name'] }}
                                </div>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="footer" id="footer">
                Made and Designed by Rudrangshu Nandi
            </div>
        </div>
        <script>
            jQuery(function($){
                $('.matchheight').matchHeight();
            });
            var modal_1 = $("#createModal");
            var btn_1 = document.getElementById("createBtn");
            var span_1 = document.getElementById("createClose");
            var logoutBtn = document.querySelector("#emptyButton");
            btn_1.onclick = function() {
                modal_1.fadeIn();
            }
            span_1.onclick = function() {
                modal_1.fadeOut();
            }
            window.onclick = function(event) {
                if (event.target.id === "createModal") 
                    modal_1.fadeOut();
            }
            function invisibleClick(){
                logoutBtn.click();
            }
        </script>
        <script>
            var element = document.querySelector("#itemCount");
            var messageBox = document.querySelector("#emptyMessage");
            if(parseInt(element.innerHTML) === 0){
                messageBox.style.display = "block";
            }

            function openCreate(){
                document.querySelector("#createBtn").click();
            }
        </script>
    </body>
</html>