<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/CSS/Style_1.css" />
    <link rel="stylesheet" href="../static/CSS/W3.css" />
    <link rel="stylesheet" href="../static/CSS/flatpickr.css" />
    <link rel="stylesheet" href="../static/CSS/jquery.tagsinput.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/Images/bucket-list.png" />
    <script src="../static/JS/jquery-2.2.3.js"></script>
    <script src="../static/JS/jquery.matchHeight.js"></script>
    <script src="../static/JS/flatpickr.js"></script>
    <script src="../static/JS/jquery.tagsinput.js"></script>
    <title> {{session['username']}}'s Bucket List </title>
</head>

<body>
    <nav class="w3-navbar w3-top">
        <div id="navList" class="w3-blue w3-card-8 w3-center">
            <div class="w3-half matchheight" style="float: left">
                <h2 class="w3-xlarge">
                    Welcome {{session['username']}}
                </h2>
            </div>
            <div class="w3-half matchheight">
                <ul class="w3-navbar" style="margin: 10px auto;">
                    <li class="w3-padding w3-btn w3-pink w3-ripple w3-hover-red" id="createBtn"> Create New Bucket List</li>
                    <li class="w3-padding w3-btn w3-pink w3-ripple w3-hover-red" style="margin-left: 10px" id="logOut" onclick="invisibleClick()"> Log Out
                        <form action="{{url_for('logout')}}" method="POST">
                            <button style="display: none" id="emptyButton"> </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="displayModal" class="w3-modal">
        <form class="w3-modal-content w3-container w3-green w3-center w3-padding-16 w3-round-large">
            <span class="w3-closebtn" id="displayClose">&times;</span>
            <br> <br>
            <div class="w3-row">
                <div class="w3-half">
                    <img width="400px" />
                </div>
                <div class="w3-half">
                    <div id="Name" class="w3-xlarge w3-padding-16"></div>
                    <div id="Date" class="w3-xlarge w3-padding-16"></div>
                    <div id="DateDiff" class="w3-xlarge w3-padding-16"></div>
                </div>
            </div>
            <div class="w3-row" style="margin-top: 20px">
                <div class="w3-half matchheight">
                    <span class="w3-btn w3-ripple w3-orange w3-round-large w3-hover-black" onclick="editBucket(true)"> Edit Bucket </span>
                </div>
                <div class="w3-half matchHeight">
                    <button type="submit" class="w3-btn w3-ripple w3-orange w3-round-large w3-hover-black"> Mark as Complete </button>
                </div>
            </div>
        </form>
    </div>
    <div id="createModal" class="w3-modal">
        <form class="w3-modal-content w3-container w3-green w3-center w3-padding-16 w3-round-large" method="POST" action="{{url_for('submit_wish')}}" enctype="multipart/form-data" id="bucketForm">
            <span class="w3-closebtn" id="createClose">&times;</span>
            <br> <br>
            <input type="text" style="display: none" name="update"/>
            <input type="text" style="display: none" name="oldValue"/>
            <input type="text" style="display: none" name="old_tags"/>
            <div class="w3-row w3-padding-16">
                <div class="w3-half matchheight">
                    Put your wish into the box:
                </div>
                <div class="w3-half w3-center matchheight">
                    <input type="text" required class="w3-input" placeholder="Awaiting a wish or dream..." name="wishName" id="bucketName">
                </div>
            </div>
            <div class="w3-row w3-padding-16">
                <div class="w3-half">
                    Select an image to represent your bucket:
                </div>
                <div class="w3-half w3-center">
                    <span id="bucketImage" class="w3-btn w3-ripple w3-round w3-hover-red w3-orange" onclick="inputClick()">
                            Click here to select image...
                        </span>
                    <input type="file" accept="image/*" name="imageFile" required onchange="displayName(files)" id="imageInput" />
                </div>
            </div>
            <div class="w3-row w3-padding-16">
                <div class="w3-half matchheight">
                    Put tags to tag your wishes:
                </div>
                <div class="w3-half w3-center matchheight">
                    <input required class="w3-input" placeholder="Awaiting a tag..." name="tags" id="tags" />
                    <input style="display: none" type="text" name="bucketTags" id="hiddenTags" />
                </div>
            </div>
            <div class="w3-row w3-padding-16">
                <div class="w3-half matchheight">
                    Put a date you would like to complete it by:
                </div>
                <div class="w3-half w3-center matchheight">
                    <input type="text" required class="wishInput coolInput flatpickr" placeholder="Select date..." name="date" id="bucketDate">
                </div>
            </div>
            <div class="w3-text-indigo w3-large w3-padding-16" id="submitBucket">
                {{get_flashed_messages(category_filter=["submit"])[0]}}
            </div>
            <span class="w3-btn w3-ripple w3-hover-orange w3-round-large" id="submitBUtton" onclick="submitForm()"> Add Bucket </span>
        </form>
    </div>
    <div id="container" class="w3-center w3-aqua">
        <div id="userPic">
            <img src="http://localhost:5000/images/{{session['picture']}}" width="250px" class="w3-card-16 w3-round-large" style="margin-top: 20px"/>
            <br>
            <div class="w3-xlarge w3-padding-8"> {{session['username']}} </div>
            <div class="w3-xlarge w3-padding-8"> {{session['quote']}} </div>
        </div>
        <div id="userBuckets">
            <div id="heading" class="w3-text-shadow w3-card-4 w3-purple w3-left" style="width: 100%">
                <h2>Here are your wishes put into buckets:</h2>
            </div>
            <div id="itemCount" style="display: none">{{session['count']}}</div>
            <div id="emptyMessage" style="display: none; clear: both; margin-top: 20px" class="w3-xlarge w3-container w3-padding-16">
                <img src="../static/Images/EmptyToDo.jpg" class="w3-round-large" />
                <br> <br> <span class="w3-text-orange"> There's nothing to show right now. </span>
                <span id="openModal" onclick="openCreate()" class="w3-text-red" style="cursor: pointer">
                        Why not create a new Bucket List?
                    </span>
            </div>
            <div id="buckets" class="w3-container">
                {% for i in range(0, session['count']|int) %} {% if i % 3 == 0 %}
                <div class="w3-container w3-third w3-card-8 w3-round-large" style="height: 300px; margin: 1% 0; cursor: pointer" onclick="displayAll(event)">
                    <img src="http://localhost:5000/images/{{result[i]['picture']}}" width="100%" class="w3-round-large w3-card-8"/> {{result[i]['name']}}
                    <span class="hidden">
                                    {{result[i]['date']}}
                                </span>
                    <span class="hidden">
                                    {{result[i]['tags']}}
                                </span>
                    <span class="hidden">
                                    {{result[i]['dateDiff']}}
                                </span>
                </div>
                {% else %}
                <div class="w3-container w3-third w3-card-8 w3-round-large" style="height: 300px; margin: 1% 0; cursor: pointer" onclick="displayAll(event)">
                    <img src="http://localhost:5000/images/{{result[i]['picture']}}" width="100%" class="w3-round-large w3-card-8" /> {{result[i]['name']}}
                    <span class="hidden">
                                    {{result[i]['date']}}
                                </span>
                    <span class="hidden">
                                    {{result[i]['tags']}}
                                </span>
                    <span class="hidden">
                                    {{result[i]['dateDiff']}}
                                </span>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
        <div class="w3-container w3-grey w3-large w3-padding-8" id="footer">
            Made and Designed by Rudrangshu Nandi
        </div>
    </div>
    <script src="../static/JS/DashScript.js"></script>
</body>

</html>