<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/CSS/Style_1.css" />
    <link rel="stylesheet" href="../static/CSS/W3.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/Images/bucket-list.png" />
    <script src="../static/JS/jquery-2.2.3.js"></script>
    <script src="../static/JS/jquery.matchHeight.js"></script>
    <title> Bucket List </title>
</head>

<body>
    <nav class="w3-navbar w3-top">
        <div id="navList" class="w3-blue w3-card-8 w3-center">
            <div class="w3-navitem w3-half matchheight" style="float: left">
                <h2 class="w3-xlarge">
                    A place to share your dreams and wishes
                </h2>
            </div>
            <div style="margin-right: 0" class="w3-half matchheight">
                <ul class="w3-navbar" style="margin: 10px auto;">
                    <li id="loginBtn" class="w3-padding w3-btn w3-pink w3-ripple w3-hover-red"> Log In </li>
                    <li id="signUpBtn" class="w3-padding w3-btn w3-pink w3-ripple w3-hover-red" style="margin-left: 10px"> Sign Up </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="loginModal" class="w3-modal">
        <form class="w3-modal-content w3-container w3-green w3-center w3-padding-16 w3-round-large" action="{{url_for('login')}}" method="POST">
            <span class="w3-closebtn" id="loginClose">&times;</span>
            <br> <br>
            <input type="text" name="userName" placeholder="Enter username..." required class="w3-input" />
            <br>
            <input type="password" name="passWord" placeholder="Enter password..." required class="w3-input" />
            <br>
            <div class="w3-text-indigo w3-large w3-padding-16" id="loginMessage">
                {{get_flashed_messages(category_filter=["login"])[0]}}
            </div>
            <br>
            <button type="submit" class="w3-btn w3-orange w3-ripple w3-hover-red w3-round"> Login In </button>
        </form>
    </div>
    <div id="signUpModal" class="w3-modal">
        <form class="w3-modal-content w3-container w3-green w3-center w3-padding-16 w3-round-large" action="{{url_for('register')}}" method="POST"
            enctype="multipart/form-data" id="registerForm">
            <span class="w3-closebtn" id="signUpClose">&times;</span>
            <br> <br>
            <input type="text" name="userName" placeholder="Enter username..." required class="w3-input" />
            <br>
            <input type="text" name="userQuote" placeholder="Enter your quote here..." required class="w3-input" />
            <br>
            <input type="text" readonly class="w3-input" id="picName" />
            <span class="w3-btn w3-ripple w3-purple w3-round" onclick="inputClick()" style="margin: 10px 0"> 
                    Click here to select profile image...
                </span>
            <input type="file" style="display: none" id="picSelect" name="file" accept="image/*" required onchange="displayName(files)">
            <br>
            <input type="password" name="passWord" placeholder="Enter password..." required id="firstPass" class="w3-input" />
            <br>
            <input type="password" name="rePass" placeholder="Re-Enter password..." required id="secondPass" class="w3-input" />
            <br>
            <div class="w3-text-indigo w3-padding-16 w3-large" id="flashMessage">
                {{get_flashed_messages(category_filter=["signup"])[0]}}
            </div>
            <br>
            <span id="submitButton" class="w3-btn w3-orange w3-ripple w3-hover-red w3-round" onclick="submitForm()"> Sign Up </span>
        </form>
    </div>
    <div id="container" class="w3-center w3-yellow">
        <div id="aboutUs" class="w3-center" style="min-height: 300px; padding-top: 75px; padding-bottom: 30px;">
            <h1 class="w3-text-shadow w3-text-deep-orange">
                <strong>
                    We take care of the crazy stuff so you can pour you heart into your words and tell it to the world.
                </strong>
            </h1>
        </div>
        <div id="feedId" class="w3-card-4 w3-purple w3-left w3-round" style="width: 100%">
            <h2> Here are some popular lists to inspire you to wish more and make them come true... </h2>
        </div>
        <div id="popularFeeds">
            <div id="itemCount" style="display: none">{{valueCount}}</div>
            <div id="emptyMessage" style="margin-top: 20px; clear: both; display: none" class="w3-container w3-padding-16">
                <img src="../static/Images/EmptyToDo.jpg" class="w3-round-large" />
                <br> <br> <span class="w3-text-red w3-xlarge w3-text-shadow"> There's nothing to show right now. I'm sorry but we just started...</span>
            </div>
            <div id="feedHolder" class="w3-container">
                {% for i in range(0, valueCount|int) %} {% if i % 3 == 0 %}
                <div class="w3-container w3-third w3-card-8 w3-round-large" style="height: 425px; margin: 1% 0;">
                    <img src="http://localhost:5000/images/{{result[i]['picture']}}" class="w3-card-8 w3-round-large" width="100%"/>
                    <h1 style="padding: 0; margin: 10px 0">
                        {{result[i]['userName']}}
                    </h1>
                    <span style="font-size: 2em; color: purple">{{result[i]['name']}}</span>
                    <div style="margin: 10px 0">
                        {{result[i]['date']}}
                    </div>
                    <div class="hidden">
                        {{result[i]['tags']}}
                    </div>
                    <span class="hidden">
                                    {{result[i]['dateDiff']}}
                    </span>
                </div>
                {% else %}
                <div class="w3-container w3-third w3-card-8 w3-round-large" style="height: 425px; margin: 1% 0;">
                    <img src="http://localhost:5000/images/{{result[i]['picture']}}" class="w3-card-8 w3-round-large" width="100%"/>
                    <h1 style="padding: 0; margin: 10px 0">
                        {{result[i]['userName']}}
                    </h1>
                    <span style="font-size: 2em; color: purple">{{result[i]['name']}}</span>
                    <div style="margin: 10px 0">
                        {{result[i]['date']}}
                    </div>
                    <div class="hidden">
                        {{result[i]['tags']}}
                    </div>
                    <span class="hidden">
                                    {{result[i]['dateDiff']}}
                    </span>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
        <div class="w3-container w3-card-8 w3-sand">
            <div class="w3-half">
                <span class="w3-xlarge w3-padding-16" style="display: block"> Connect With Us: </span>
                <ul class="w3-ul w3-large" style="float: none">
                    <li class="link"> Lorem Ipsum </li>
                    <li class="link"> Lorem Ipsum </li>
                    <li class="link"> Lorem Ipsum </li>
                </ul>
            </div>
            <div class="w3-half">
                <span class="w3-xlarge w3-text-shadow w3-text-deep-purple"> About Us: </span>
                <br> <br>
                <span class="w3-xlarge w3-text-shadow w3-text-amber" style="color: purple">
                        We just want to make a way for you to remember your wishes and let others know about it as well.
                    </span>
            </div>
        </div>
        <div class="w3-container w3-grey w3-large w3-padding-8" id="footer">
            Made and Designed by Rudrangshu Nandi
        </div>
    </div>
    <script>
            function displayName(files){
                var fileName = files[0].name;
                document.querySelector("#picName").value = fileName;
            }

            function submitForm(){
                var submit = true;
                var mainPass = document.querySelector("#firstPass").value.trim();
                var rePass = document.querySelector("#secondPass").value.trim();
                var userPic = document.querySelector("#picName").value.trim();
                var userQuote = document.getElementsByName("userQuote")[0].value.trim();
                var userName = document.getElementsByName("userName")[1].value.trim();
                if(mainPass === "" || rePass === "" || userPic === "" || userQuote === "" || userName === "")
                    submit = false;
                if(submit)
                    document.querySelector("#registerForm").submit();
                else
                    document.querySelector("#flashMessage").innerHTML = "Please fill all fields...";
            }

            var element = document.querySelector("#itemCount");
            var messageBox = document.querySelector("#emptyMessage");
            if (parseInt(element.innerHTML) === 0)
                messageBox.style.display = "block";
    </script>
    <script>
        jQuery(function($){
            $('.matchheight').matchHeight();
        });

        var modal_1 = $("#loginModal");
        var modal_2 = $("#signUpModal");
        var btn_1 = document.getElementById("loginBtn");
        var btn_2 = document.getElementById("signUpBtn");
        var span_1 = document.getElementById("loginClose");
        var span_2 = document.getElementById("signUpClose");
        var signUpMessage = document.querySelector("#flashMessage");
        var loginMessage = document.querySelector("#loginMessage");
        var input = document.querySelector("#picSelect");

        function inputClick(){
            input.click();
        }

        btn_1.onclick = function() {
            modal_1.fadeIn();
        }
        btn_2.onclick = function(){
            modal_2.fadeIn();
        }
        span_1.onclick = function() {
            modal_1.fadeOut();
        }
        span_2.onclick = function(){
            modal_2.fadeOut();
        }
        window.onclick = function(event) {
            if (event.target.id === "loginModal") {
                modal_1.fadeOut();
            }
            if(event.target.id === "signUpModal")
                modal_2.fadeOut();
        }

        $(document).ready(function(){
            if(signUpMessage.innerHTML.trim() !== "")
                modal_2.fadeIn();
            else if(loginMessage.innerHTML.trim() !== "")
                modal_1.fadeIn();
        });
    </script>

    <script>
			var firstPass = document.querySelector("#firstPass");
			var secondPass = document.querySelector("#secondPass");
			var message = document.querySelector("#flashMessage");
			var button = document.querySelector("#submitButton");

			$(document).ready(function(){
				button.disabled = true;
			});
			
			$('#firstPass').keyup(function(){
				if(firstPass.value === secondPass.value && firstPass.value !== "" && secondPass.value !== ""){
					message.innerHTML = "Passwords match";
					button.disabled = false;
				}
				else if(firstPass.value !== secondPass.value  && firstPass.value !== "" && secondPass.value !== ""){
					message.innerHTML = "Passwords do not match";
					button.disabled = true;
				}
			});

			$("#secondPass").keyup(function(){
				if(firstPass.value !== secondPass.value && firstPass.value !== "" && secondPass.value !== ""){
					message.innerHTML = "Passwords do not match";
					button.disabled = true;
				}
				else if(firstPass.value === secondPass.value  && firstPass.value !== "" && secondPass.value !== ""){
					message.innerHTML = "Passwords match";
					button.disabled = false;
				}
			});
	</script>
    <script>
        var container = $("#container");
        $(document).ready(function(){
            setTimeout(setPadding, 501);
        });
        $(window).resize(function(){
            setTimeout(setPadding, 501);
        });
        function setPadding(){
            var padding = $("nav.w3-navbar").outerHeight(true);
            container.css("padding-top", padding + "px");
        }
    </script>
</body>

</html>